.site-header {
  height: 50vh;
  display: flex;
  flex-direction: column;
}

.site-branding {
  flex: 1;
  display: flex;
  .custom-logo-link {
    max-width: 20vmin;
  }
}

.site-navigation {
  ul {
    display: flex;
  }
}
